.container {
    width: 800px !important;
    height: 600px !important;
}
.row {
    margin-bottom: 0px;
}
h6 {
    margin-right: 14px;
    margin-bottom: 0px;
}
#time-period {
    font-size: 12px;
}
.x.axis line,.x.axis path {
    display: none;
}
.x.axis text {
    font-size: 14px;
}
.y.axis line,.y.axis path {
    display: none;
}
.y.axis text {
    font-size: 14px;
}